body {
    text-align: center;
    background-color: #3b444b;
    color: #ffffff;
}

p {
    font-size: 20px;
}

.field {
    position: relative;
    width: 50%;
    height: 50vh;
    margin: 0 auto;
    border: 3px solid #199bff;
    border-radius: 5px;
    background-color: rgb(255, 154, 0, 0.3);
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #ffff00;
}

.start-button {
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    background: none;
    background-color: #199bff;
    border-radius: 5px;
    cursor: pointer;
}

.start-button:hover {
    box-shadow: 0 0 10px 1px #199bff;
}
