@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

body {
    text-align: center;
    background-color: darkslategrey;
    color: white;
}

p {
    font-size: 20px;
}

.field {
    position: relative;
}

.box {
    position: absolute;
    display: none;
    width: 50px;
    height: 50px;
    background-color: yellow;
    animation: fadeIn 0.2s;
}

#start-button {
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: none;
    background: none;
    background-color: crimson;
    border-radius: 5px;
}

.score {
    position: absolute;
    top: 0;
}

.score td {
    border-bottom: 1px solid white;
}

.score-user-name {
    font-size: 25px;
    font-weight: bold;
}
